#Python stuff
python-scripts/.idea
python-scripts/reddit-posts-updater/.idea

python-scripts/reddit-posts-updater/lambda_build/

# dependencies
website/node_modules
website/.pnp
website/.pnp.js

# testing
website/coverage

# production
website/build

# misc
website/.DS_Store
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local

website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*


#.net API code
api-service/.vs/
api-service/api-service/bin/
api-service/api-service/obj/
api-service/api-service/Properties/
*.user
appsettings*.json

api-service/api-service/AwsKeys.cs
python-scripts/reddit-posts-updater/.env

python-scripts/reddit-posts-updater/__pycache__/

api-service/api-service/.env
