.card {
  justify-content: center;
  align-items: center;
  text-align: center;

  flex: 1; /* Allow the card to grow to fill available space */
  min-width: 50%; /* Set a maximum width for each card */

  background: linear-gradient(to top, #333333, #ff5f25);
  border-radius: 20px; /* Optional: add rounded corners to the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Optional: add a subtle shadow */
}

.card h1 {
  color: white;
  padding: 20px;
  font-size: 40px;
}

.card p {
  color: white;
  font-size: 30px;
}

.card span {
  color: white;
  font-size: 40px;

}

.higher-or-lower-buttons .btn {
  font-size: 35px;
}

.higher-or-lower-buttons {
  display: flex;
  flex-direction: column;
  
}

.slide-in {
  animation: slideToLeft 1.5s ease-out;
}
@keyframes slideToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.made-by-and-when-container {
  align-self: flex-start;
  text-align: left;
  font-size: 10px;
  margin-bottom: auto;
}

.card-main-content-container {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  align-items: center;
}
